tasklistview row {
  border-radius: 5px;
}

tasklistview.dark stack spinner,
tasklistview.dark emptylistwidget label,
tasklistview.dark emptylistwidget image {
    color: white;
}

tasklistview.light stack spinner,
tasklistview.light emptylistwidget label,
tasklistview.light emptylistwidget image {
    color: black;
}

tasklistview list:drop(active) {
    box-shadow: none;
    border: none;
}

/* Add a subtle shadow to color circles */
image.color-circle-icon {
    -gtk-icon-shadow: 0 1px alpha(black, 0.18);
}

/* Color button */
colorbutton {
    border-radius: 6px;
    transition: 100ms;
}

colorbutton:hover {
    filter: brightness(80%);
    transition: 100ms;
}

colorbutton.dark image {
    color: white;
}

colorbutton.light image {
    color: black;
}

